<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">
        Product List
    </div>
    <div class="panel-body">
        <table class="table">

            <thead>
                <tr>
                    <td>Code</td>
                    <td>Name</td>
                    <td>Manufacturing Date</td>
                    <td>Category</td>
                    <td>Price</td>
                    <td>
                        <button class="btn btn-primary" type="button" ng-click="vm.toggleImage()">

                        {{vm.showImage?"Hide":"Show"}} Image
                    </button>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prod in vm.products">
                    <td><a ui-sref="prodDetail({prodId: prod.prodId})"> {{prod.pCode}}</a> </td>
                    <td>{{prod.pName}}</td>
                    <td>{{prod.manufacturingDate}}</td>
                    <td>{{prod.category}}</td>
                    <td>{{prod.price | currency}}</td>
                    <td><img ng-src="{{prod.imageUrl}}" ng-if="vm.showImage" style="width: 50px;height:50px" title="{{prod.pName}}"></td>
                    <td><a class="btn btn-primary" ui-sref="prodEdit.product({prodId: prod.prodId})"> Edit
                    </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>