<form class="form-horizontal" name="prodForm" novalidate>
    <legend>
        Product Price Details
    </legend>

    <div class="form-group" ng-class="{'has-error':prodForm.inputVAT.$invalid &&
                                    prodForm.inputHRA.$dirty}">
        <label for="inputVAT" class="col-md-2 control-label">VAT %</label>
        <div class="col-md-2">
            <input id="inputVAT" name="inputVAT" type="text" ng-model="vm.product.vatPercent" class="form-control" ui-mask="99.99 (required)" required/>
        </div>
        <span class="help-block has-error" ng-show="prodForm.inputVAT.$invalid">
                  VAT Percent required
            </span>
    </div>
    <div class="form-group" ng-class="{'has-error':prodForm.inputConsumerTax.$invalid &&
                                    prodForm.inputOTHA.$dirty}">
        <label for="inputConsumerTax" class="col-md-2 control-label">Consumer Tax %</label>
        <div class="col-md-2">
            <input id="inputConsumerTax" name="inputConsumerTax" type="text" ng-model="vm.product.consumerTaxPercent" class="form-control" ui-mask="99.99 (required)" required/>
        </div>
        <span class="help-block has-error" ng-show="prodForm.inputConsumerTax.$invalid">
                  Consumer Tax required
            </span>
    </div>
</form>